.container-title {
}
.title-cms {
  text-align: center;
  color: #007996;
  font-weight: 900;
  font-size: 200px;
}
.title-description {
  text-align: center;
  color: #007996;
}
.title-website {
  text-align: center;
  color: #007996;
}
