.button-containerNewsletter {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.cards-containerNewsletter {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.cardsNewsletter {
  height: auto;
  display: flex;
  margin: 10px;
  background-color: white;
  border-radius: 5px;
  height: 320px;
}
.cardNewsletter {
  cursor: pointer;
  display: flex;
  padding: 10px;
  flex-direction: column;
  transform: matrix(1, 0, 0, 1, 0, 0);
  width: 250px;
  overflow: hidden;
}

.card-divImageNewsletter {
  display: flex;
  justify-content: center;
}
.card-imageNewsletter {
  padding: 0px;
  height: 180px;
  object-fit: cover;
  margin: 0;
}

.card-contentNewsletter {
  margin: 0;
  padding: 10px;
}
.card-titleNewsletter {
  margin: 0;
  margin-top: 10px;
  height: 40px;
  color: #2ab9dc;
  font-size: 12px;
}

.card-contentsNewsletter {
  margin: 0;
  color: #7d7d7d;
  font-size: 10px;
}
.card-timeNewsletter {
  font-size: 9px;
  margin: 0;
}

.card-readmoreNewsletter {
  margin: 0;
  color: black;
  text-align: right;
  margin-top: 10px;
  font-size: 8px;
}
.image-divNewsletter {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.image-newsletter {
  max-height: 400px;
  max-width: 670px;
}
@media only screen and (max-width: 991px) {
  .image-newsletter {
    max-height: 400px;
    max-width: 440px;
  }
}
@media only screen and (max-width: 500px) {
  .image-newsletter {
    max-height: 400px;
    max-width: 280px;
  }
}

.button-newsletter {
  place-items: center;
  text-align: center;
}
