.button-container {
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  place-items: center;
}

.cards-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.cards {
  height: auto;
  display: flex;
  margin: 10px;
}
.card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  box-shadow: white 0px 0px 3px 0px;
  border-radius: 10px;
  transform: matrix(1, 0, 0, 1, 0, 0);
  width: 192px;
  overflow: hidden;
}

.card-image {
  width: 200px;
  height: 180px;
  margin: 0;
}

.card-content {
  margin: 0;
}
.card-title {
  padding: 6px 6px 0px 6px;
  margin: 0;
  height: 70px;
}

.card-time {
  margin: 0;
  text-align: right;
  padding: 6px 6px 0px 6px;
}

.container-imagePromo {
  place-items: center;
  text-align: center;
  display: grid;
  height: 100%;
}
.container-formPromo {
  height: 350px;
  width: 430px;
  position: relative;
}
.container-formPromo .wrapperPromo {
  position: relative;
  height: 300px;
  width: 100%;
  border-radius: 10px;
  border-width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.wrapperPromo.active {
  border: none;
}
.wrapperPromo .image {
  max-height: 350px;
  max-width: 430px;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapperPromo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.wrapperPromo .icon {
  font-size: 100px;
  color: #9658fe;
}
.wrapperPromo .text {
  font-size: 20px;
  font-weight: 500;
  color: #5b5b7b;
}
.wrapperPromo #cancel-btn i {
  position: absolute;
  font-size: 20px;
  right: 15px;
  top: 15px;
  color: #9658fe;
  cursor: pointer;
  display: none;
}
.wrapperPromo.active:hover #cancel-btn i {
  display: block;
}
.wrapperPromo #cancel-btn i:hover {
  color: #e74c3c;
}
.wrapperPromo .file-name {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 8px 0;
  font-size: 18px;
  color: #fff;
  display: none;
  background: linear-gradient(135deg, #3a8ffe 0%, #9658fe 100%);
}
.wrapperPromo.active:hover .file-name {
  display: block;
}

.button-promo {
  place-items: center;
  text-align: center;
}
#custom-btnPromo {
  /* margin-top: 10px; */
  /* display: block; */
  /* height: 50px; */
  border-radius: 10px;
  width: 110px;
  outline: none;
  color: #fff;
  /* font-size: 18px;
  font-weight: 500; */
  /* cursor: pointer; */

  text-transform: uppercase;
  background: #007996;
}

#input-promo[type="file"] {
  /* display: none; */
}
#text-custom-btnPromo {
  margin: 0;
  cursor: pointer;
}
