.members-page h1 {
  font-size: 2rem;
}

.members-page p {
  font-size: 0.8rem;
  color: white;
}

/* hero */
.members-hero {
  /* background-image: url("../../assets/images/members/HERO.png"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  /* position: relative; */
}

.members-content-header {
  padding-left: 6rem;
  padding-top: 7rem;
  color: white;
}

.members-content {
  max-width: 25rem;
  margin-bottom: 2rem;
}

.members-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.members-button-watch-icon {
  color: white;
  size: 10em;
}

@media screen and (max-width: 600px) {
  .content-members {
    max-width: 10rem;
  }
}

.button-content {
  display: flex;
}

.button-try {
  padding: 0.35rem;
  border-radius: 300px;
  background-color: #f6eb52;
  transition: 0.2s ease-out;
}

.members-button:hover .button-try {
  background-position: left;
  padding: 0.35rem 2rem 0.35rem 0.35rem;
}

.members-button span {
  color: white;
  font-weight: bold;
  font-size: 0.75rem;
  margin-left: 0.75rem;
}

.icon-btn-try,
.button-try a {
  color: #07aed6;
}

.icon-btn-watch {
  font-size: 2rem;
  color: white;
}

.button-watch {
  margin-left: 1.5rem;
  display: flex;
  align-items: center;
  border-radius: 300px;
}

.hero-content-footer {
  background-image: linear-gradient(#ebe485, white);
  max-width: 25rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 18px 0 rgba(0, 0, 0, 0.19);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  position: absolute;
  margin-top: -3rem;
  z-index: 1;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.hero-content-footer h6 {
  padding: 1rem 1rem 0 1rem;
  text-align: center;
}

/* benefit */
.benefit-members {
  /* background-image: url("../../assets/images/members/benefits-key.png"); */
  background-size: 73rem;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-position: center;
}

.key-feature-members {
  /* background-image: url("../../assets/images/members/key-features.png"); */
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 2000px;
  /* min-width: 1500px; */
}
